<mat-card>
  <mat-card-header>
    <mat-card-title>Login to Chuck Norris Jokes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form" [formGroup]="formLogin">
      <mat-form-field>
        <input matInput class="login-input" type="text" placeholder="User Name"
          [formControlName]="'userName'">
        <mat-error *ngIf="inputUserName.getError('required')">User name is
          required</mat-error>
        <mat-error *ngFor="let error of getControlErrors(inputUserName)">{{error}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput class="login-input" type="password" [maxlength]="maxPasswordLength"
          placeholder="Password" [formControlName]="'password'"
          [errorStateMatcher]="errorMatcher">
        <mat-hint>{{inputPassword.value.length}} / {{maxPasswordLength}}</mat-hint>
        <mat-error *ngIf="inputPassword.getError('required')">Password is
          required</mat-error>
        <mat-error *ngFor="let error of getControlErrors(inputPassword)">{{error}}</mat-error>
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="submit()" [disabled]="formLogin.valid === false">Login</button>
  </mat-card-actions>
</mat-card>
