<div class="jokes-page">
  <mat-card class="jokes-list">
    <mat-card-header class="jokes-list__header">
      <mat-card-title>Jokes</mat-card-title>
      <button mat-icon-button (click)="refreshJokes()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <app-jokes-list [jokes]="jokes" [favoriteIds]="getFavoriteIds()"
        (jokeSelected)="favoriteAdd($event)"></app-jokes-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="jokes-list jokes-list--favorite">
    <mat-card-header class="jokes-list__header">
      <mat-card-title>Favorite jokes</mat-card-title>
      <mat-slide-toggle (change)="switchTimer($event)" [labelPosition]='"before"'>Add
        jokes every 5 sec</mat-slide-toggle>
    </mat-card-header>
    <mat-card-content class="jokes-list__content">
      <app-jokes-list [jokes]="favoriteJokes" [favoriteMode]="true"
        (jokeSelected)="favoriteDelete($event)"></app-jokes-list>
    </mat-card-content>
    <mat-card-actions class="jokes-list__actions">
      <button mat-stroked-button (click)="clearFavoriteJokes(favoriteJokes)"
        [disabled]="!favoriteJokes.length">Clear</button>
      <div class="jokes-list__count">{{favoriteJokes.length}} /
        {{favoriteJokesMax}}</div>
    </mat-card-actions>
  </mat-card>
</div>
