.jokes {
  &-page {
    display: flex;
    justify-content: space-around;
  }

  &-list {
    flex-basis: 45%;

    &--favorite {
      display: flex;
      flex-direction: column;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__content {
      flex-grow: 1;
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__count {
      color: #999999;
    }
  }
}
